# RabbitMQ配置
RABBITMQ_HOST=IP_ADDRESS_OF_RABBITMQ
RABBITMQ_PORT=5672
RABBITMQ_USER=YOUR_USERNAME
RABBITMQ_PASSWORD=YOUR_PASSWORD

# Java后端配置
JAVA_CLIENT_URL=http://localhost:8080/v2/sdk/ai/redis

# API配置
DEEPSEEK_API_URL=https://api.deepseek.com/v1
DEEPSEEK_API_KEY=YOUR_API_KEY

QWEN_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_API_KEY=YOUR_API_KEY
