# 虚拟环境
.venv/
venv/
ENV/
env/

# Python运行缓存
__pycache__/
*.py[cod]
*$py.class

# 本地环境变量
.env

# IDE配置文件
.idea/
.vscode/
*.pydevproject
.project
.settings/

# 日志文件
*.log

# 单元测试覆盖率产物
.cache/
.pytest_cache/
htmlcov/
.coverage